@charset "UTF-8";
@import url("../fonts.css");
html {
  box-sizing: border-box; }
  html *,
  html *:before,
  html *:after {
    box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5 {
  font-family: no_name_37; }

body {
  font-family: Avenir Next;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important; }

.text-center {
  text-align: center; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

ul {
  list-style: none; }

li {
  list-style: none; }

.footer {
  position: relative;
  padding: 36px 0;
  font-size: 14px;
  line-height: 35px;
  border-bottom: 1px solid #DADADA; }
  .footer ul {
    padding-left: 0 !important; }
  .footer a {
    color: black !important; }
  .footer .socials {
    display: flex;
    justify-content: space-between; }
  .footer .footer-links2 {
    font-weight: bold; }
  .footer .icons {
    display: flex; }
    .footer .icons .icon {
      height: 36px;
      width: 36px;
      background-color: #F5F5F5;
      text-align: center;
      border-radius: 50%;
      margin-right: 5px; }
    .footer .icons a {
      color: #BBBBBB !important;
      text-align: center; }
      .footer .icons a i {
        font-size: 20px !important; }
  .footer .footer-info {
    display: flex;
    flex-direction: row; }
  .footer .certifs {
    margin-left: 20px;
    display: flex;
    align-items: center; }
    .footer .certifs .certif {
      display: flex;
      align-items: center;
      margin-right: 18px; }
      .footer .certifs .certif img {
        margin-right: 5px; }
  .footer .footer-sitemap ul {
    display: flex;
    justify-content: space-between; }
  .footer--others {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px; }

.footer-info {
  display: flex;
  flex-direction: column; }

.navigation-top {
  border-bottom: 1px solid #dadada;
  margin-top: 0;
  display: flex;
  align-items: center; }

.nav--secondary {
  font-family: "Gulim" !important;
  font-size: 11px;
  line-height: 13px;
  margin: 0 auto;
  margin-top: 18px; }
  .nav--secondary ul li {
    padding: 0 8px; }
    .nav--secondary ul li i {
      color: #acb3ff;
      font-size: 17px; }

.nav--languages {
  float: left;
  display: flex;
  justify-content: space-between; }

.nav--contacts {
  float: right;
  display: flex;
  justify-content: space-between;
  height: 100% !important; }
  .nav--contacts li {
    height: 100% !important; }
    .nav--contacts li:first-child {
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede; }
    .nav--contacts li:nth-child(2) {
      border-right: 1px solid #dedede; }

.navbar-brand {
  padding: 0px; }

.navbar-brand > img {
  height: 100%;
  padding: 15px;
  width: auto; }

.navcubic {
  position: absolute;
  bottom: 0;
  transform: translateY(35%);
  width: 81.67px;
  height: 46px;
  z-index: 1;
  background: linear-gradient(263.29deg, #d0e5ff 6.85%, #0073ff 49.98%, #040080 88.76%); }

nav:last-child {
  padding: 0 !important;
  margin: 0 !important; }

#navmain ul li a {
  color: black !important;
  font-size: 16px; }

.animated-icon1 {
  width: 24px;
  height: 19px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

.animated-icon1 span:nth-child(1) {
  top: 0px; }

.animated-icon1 span:nth-child(2) {
  top: 7px; }

.animated-icon1 span:nth-child(3) {
  top: 14px; }

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.animated-icon1 span {
  background: #050505; }

.carousel-indicators {
  position: absolute;
  top: 45%;
  transform: translateX(50%);
  height: 1vh; }
  .carousel-indicators .active {
    color: green !important;
    background-color: #07ad68 !important; }
  .carousel-indicators li {
    height: 20px !important;
    width: 20px !important;
    clip-path: polygon(51% 55%, 0% 100%, 100% 100%);
    margin: 0; }

.sliderbar {
  margin-top: 0 !important; }
  .sliderbar .textbar {
    height: 60vh;
    background: linear-gradient(203.4deg, #2b3679 -46.75%, #131944 79.39%);
    position: relative;
    z-index: -1; }
    .sliderbar .textbar--block {
      float: right;
      left: 50%;
      display: flex;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      .sliderbar .textbar--block img {
        height: 100%;
        margin-right: 25px; }
    .sliderbar .textbar h2 {
      font-size: 55px;
      color: white;
      line-height: 57px; }
    .sliderbar .textbar a {
      color: #4dbb91 !important;
      font-size: 18px;
      line-height: 21px; }
  .sliderbar .imagebar {
    position: absolute;
    top: -5%;
    z-index: 1;
    transform: translateY(-20%) !important; }
    .sliderbar .imagebar img {
      position: absolute;
      bottom: 0%; }
      .sliderbar .imagebar img:first-child {
        top: 0%;
        transform: translateY(-5%); }
      .sliderbar .imagebar img:last-child {
        top: 50%;
        left: 25%;
        transform: translateY(60%);
        transform: translateX(150%); }
  .sliderbar .slidingbar {
    margin-left: 25%;
    height: 50vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    z-index: -1;
    position: relative; }
    .sliderbar .slidingbar h2 {
      font-size: 30px;
      line-height: 31px; }
    .sliderbar .slidingbar p {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.064px; }
    .sliderbar .slidingbar--content {
      left: 33%;
      transform: translateX(-50%);
      top: 50%;
      transform: translateY(-50%);
      position: absolute; }
      .sliderbar .slidingbar--content img {
        transform: translateX(-100%);
        margin-bottom: 25px; }
    .sliderbar .slidingbar--text {
      display: flex; }
    .sliderbar .slidingbar .icon {
      margin-left: 55px; }
  .sliderbar .slidingbar1 {
    background-image: linear-gradient(to bottom right, rgba(56, 26, 131, 0.911), rgba(56, 26, 131, 0.599)), url(../img/triangle2.png); }
  .sliderbar .slidingbar2 {
    background-image: linear-gradient(to bottom right, rgba(56, 26, 131, 0.911), rgba(56, 26, 131, 0.599)), url(../img/triangle1.png); }
  .sliderbar .slidingbar6 {
    background-image: linear-gradient(to bottom right, rgba(56, 26, 131, 0.911), rgba(56, 26, 131, 0.599)), url(../img/neftgaz.png); }
  .sliderbar .slidingbar3 {
    background-image: linear-gradient(to bottom right, rgba(56, 26, 131, 0.911), rgba(56, 26, 131, 0.599)), url(../img/triangle3.png); }
  .sliderbar .slidingbar4 {
    background-image: linear-gradient(to bottom right, rgba(56, 26, 131, 0.911), rgba(56, 26, 131, 0.599)), url(../img/triangle4.png); }
  .sliderbar .slidingbar5 {
    background-image: linear-gradient(to bottom right, rgba(56, 26, 131, 0.911), rgba(56, 26, 131, 0.599)), url(../img/triangle5.png); }
  .sliderbar .sliderbottom {
    padding: 48px 0;
    padding-right: 80px;
    float: right;
    margin-bottom: 50px; }
    .sliderbar .sliderbottom h2 {
      display: flex;
      justify-content: center;
      font-size: 36px;
      line-height: 37px;
      margin-bottom: 45px; }
    .sliderbar .sliderbottom a {
      border: 1px solid #07ad4e;
      font-size: 20px;
      line-height: 23px;
      font-weight: bold;
      padding: 10px 17px;
      color: #000000; }

.main-header {
  font-size: calc(30px + (36 - 30) * ((100vw - 768px) / (1600 - 768)));
  line-height: 37px;
  border-bottom: 5px solid #4dbb91;
  border-radius: 4px;
  padding-bottom: 13px; }

.main-headerr {
  font-size: calc(30px + (36 - 30) * ((100vw - 768px) / (1600 - 768)));
  line-height: 37px; }

.main-paragraph {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.056px;
  margin-top: 30px; }

.directions--header {
  margin-right: 35px;
  width: 50% !important; }

.direction {
  padding: 25px;
  padding-left: 50px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.178704);
  margin-bottom: 25px;
  border-radius: 10px 85px 10px 10px;
  -moz-border-radius: 10px 85px 10px 10px;
  -webkit-border-radius: 10px 85px 10px 10px;
  cursor: pointer;
  transition: 0.3s all; }
  .direction:hover {
    background-color: #07ad68;
    color: white; }
    .direction:hover img {
      filter: brightness(0) invert(1); }
  .direction--active .icon {
    background: #07ad68;
    -webkit-mask-image: url(../img/svg/dir4.svg);
    mask-image: url(../img/svg/dir4.svg); }
  .direction p {
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    margin-top: 60px; }

.companies {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 15px; }
  .companies .company {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  .companies img {
    -webkit-filter: grayscale(300%);
    filter: grayscale(300%);
    padding: 15px 0; }
    .companies img:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

.cooperation {
  background: url(../img/coorpbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 45px 0; }
  .cooperation form {
    display: flex;
    justify-content: center; }
    .cooperation form input {
      margin-right: 15px;
      border-radius: 4px;
      padding: 15px 45px;
      outline: none;
      border: none; }
      .cooperation form input:last-child {
        background-color: #07ad68;
        color: white; }

@media only screen and (min-width: 768px) {
  .directions {
    display: grid; }
  .whereusing--text ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
    .whereusing--text ul li {
      display: flex;
      align-items: center;
      height: 50px; }
  .contact {
    position: relative; }
  .map {
    -webkit-clip-path: polygon(0% 88%, 50% 0%, 50% 0%, 100% 88%);
    clip-path: polygon(0% 88%, 50% 0%, 50% 0%, 100% 88%);
    height: 100vh;
    position: absolute;
    top: -8%;
    width: 80%;
    height: 105%;
    right: -5%; }
  .direction {
    margin-right: 7%;
    border: 0px solid #000000; } }

@media only screen and (max-width: 768px) {
  .direction {
    margin: 15px 15px; }
  .whereusing--action {
    display: flex;
    flex-direction: row !important;
    align-items: center; }
    .whereusing--action button {
      width: 50%;
      padding: 15px; }
  .map {
    position: inherit;
    width: 100%; }
  .catalogs {
    display: grid;
    grid-template-columns: minmax(0, 1fr) !important; }
  .main-header {
    text-align: center; }
  .companies {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .cooperation form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px; }
    .cooperation form input {
      margin-bottom: 15px; } }

.about .textbar {
  color: white;
  height: 60vh;
  background: linear-gradient(203.4deg, #2b3679 -46.75%, #131944 79.39%);
  position: relative;
  margin-bottom: 350px; }
  .about .textbar .tauimg {
    position: absolute;
    top: 15%;
    right: 35%; }
  .about .textbar--block {
    position: absolute;
    top: 20%;
    width: 40%;
    float: right;
    left: 50%;
    display: flex; }
    .about .textbar--block img {
      height: 100%;
      margin-right: 25px; }
    .about .textbar--block p {
      font-size: 14px;
      line-height: 16px; }
  .about .textbar h2 {
    font-size: 55px;
    color: white;
    line-height: 57px; }
  .about .textbar a {
    border: 1px solid #07ad4e;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    padding: 10px 17px;
    margin-top: 25px;
    color: white !important; }

.about .missions .mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about .missions .mission:nth-child(2) img {
    transform: translateX(20%);
    margin-bottom: 20px; }
  .about .missions .mission--head {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px; }
    .about .missions .mission--head .goal {
      transform: translateX(1%) !important; }
    .about .missions .mission--head img {
      height: 100px; }
    .about .missions .mission--head h2 {
      border-bottom: 4px solid #4dbb91; }
  .about .missions .mission p {
    font-size: 12px;
    line-height: 14px;
    width: 80%; }

.about .responsi {
  display: flex; }
  .about .responsi--img {
    float: right;
    width: 70%;
    position: relative; }
  .about .responsi .triangle {
    width: 205px;
    height: 140px;
    background-color: #07ad68;
    -webkit-clip-path: polygon(0% 88%, 50% 0%, 50% 0%, 100% 88%);
    clip-path: polygon(0% 88%, 50% 0%, 50% 0%, 100% 88%);
    position: absolute;
    top: 4%;
    right: -5%; }
  .about .responsi p {
    font-size: 16px;
    line-height: 19px;
    width: 100%; }

.about .aboutsert {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .about .aboutsert .texts {
    width: 50%; }
  .about .aboutsert h2 {
    font-size: 24px;
    line-height: 25px; }
  .about .aboutsert p {
    font-size: 14px;
    line-height: 16px; }

.about .customers {
  display: flex;
  align-items: center; }
  .about .customers .text {
    width: 13%;
    text-align: center; }
  .about .customers .customer-logos {
    display: grid;
    align-items: center;
    height: 100px; }
    .about .customers .customer-logos .slide {
      padding: 10px; }
    .about .customers .customer-logos img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      height: 100%; }

.about .partners {
  grid-template-columns: repeat(7, 1fr); }
  .about .partners .customer-logos {
    display: flex;
    align-items: center; }
  .about .partners div {
    padding: 35px 0; }
  .about .partners div:first-child {
    color: black;
    text-align: center;
    display: flex;
    align-items: center; }
  .about .partners img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .about .partners img:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

.catalog1 .catalogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; }

.catalog1 .catalog {
  position: relative;
  height: 244px;
  background: linear-gradient(to right, #121842, #121842, #131944, #131944);
  padding: 0;
  margin: 0; }
  .catalog1 .catalog .frontimg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .catalog1 .catalog .bloortree {
    position: absolute;
    right: 0;
    bottom: 0;
    filter: grayscale(100%); }
  .catalog1 .catalog p {
    position: absolute;
    z-index: 1;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    width: 50%;
    font-family: Gulim;
    font-style: normal;
    font-weight: normal;
    font-size: calc(20px + (24 - 20) * ((100vw - 768px) / (1600 - 768)));
    line-height: 28px; }
  .catalog1 .catalog .behimg {
    width: 100%;
    height: 100%; }
  .catalog1 .catalog .symbol {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 16px solid #07ad68; }

.catalog1 .rule .head {
  font-size: 24px;
  line-height: 28px; }

.catalog1 .rule p {
  font-family: Gulim;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  width: 80%;
  text-align: center;
  margin: 0 auto; }

.catalog1 .rule .companies {
  width: 80%;
  margin: 0 auto; }

.orderuse {
  background: url(../img/catalog1/bloororder.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 48px; }
  .orderuse .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .orderuse .header a {
      color: white !important;
      background-color: #07ad70;
      border-radius: 11px;
      padding: 17px 15px;
      width: 80%;
      text-align: center; }
  .orderuse .order {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px; }
    .orderuse .order a {
      color: black !important;
      text-decoration: none; }
  .orderuse .using {
    display: flex;
    align-items: center; }
    .orderuse .using img {
      cursor: pointer;
      background-color: white;
      border-radius: 50%;
      padding: 15px;
      height: 76px;
      width: 76px;
      margin-right: 15px;
      margin-bottom: 5px; }
    .orderuse .using p {
      font-family: CTCSplashRounded;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      text-transform: uppercase; }

.openedcatalog .more {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.506471px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  position: relative; }
  .openedcatalog .more a {
    color: black !important; }

.openedcatalog .frontcatalog {
  position: absolute;
  object-fit: cover; }

.kabelopened {
  background: linear-gradient(to right, #121842, #121842e3, #131944c2, #131944ba), url(../img/behlevelkabel2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 75%; }

.openedcataloghead {
  padding: 25px;
  position: relative; }
  .openedcataloghead img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%; }
  .openedcataloghead .openedhead {
    position: relative; }
    .openedcataloghead .openedhead .heading {
      color: white !important; }
      .openedcataloghead .openedhead .heading h2 {
        font-family: Gulim; }
      .openedcataloghead .openedhead .heading a {
        color: white !important;
        border: 1px solid #07ad70;
        border-radius: 8px;
        padding: 15px 25px; }
    .openedcataloghead .openedhead .frontimg {
      position: absolute; }
    .openedcataloghead .openedhead .behindimg {
      width: 100%; }

.catalogcategory {
  padding: 0;
  margin: 0; }
  .catalogcategory li {
    font-family: CTCSplashRounded;
    font-size: 16px;
    line-height: 36px;
    font-weight: bold; }

.fullcatalog {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  padding: 30px 40px;
  margin-bottom: 25px; }
  .fullcatalog .catalogmain {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .fullcatalog .catalogmain--head p {
      font-size: 20px;
      line-height: 23px;
      letter-spacing: -0.562745px;
      font-weight: bold; }
    .fullcatalog .catalogmain--price {
      padding-left: 55px;
      border-left: 1px solid #d8d8d8; }
      .fullcatalog .catalogmain--price p {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.562745px;
        font-weight: bold;
        color: #07ad70; }
      .fullcatalog .catalogmain--price a {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        font-weight: bold;
        color: black !important;
        padding: 8px 12px;
        border: 1px solid #07ad68;
        border-radius: 7px; }
  .fullcatalog .imgs img {
    width: 66px;
    height: 66px;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid #07ad68; }

.modal-open {
  padding-right: 0 !important; }

.contact--info {
  display: flex;
  justify-content: space-between; }
  .contact--info p {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold; }

.contact a {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.450196px;
  color: black !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px; }

.contact .address {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.450196px;
  font-weight: bold; }

.contact--us .input-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px; }

.contact--us .fullwidth {
  grid-column: span 2; }

.contact--us .input-block {
  display: flex;
  justify-content: space-between; }
  .contact--us .input-block input {
    width: 100%; }
  .contact--us .input-block input,
  .contact--us .input-block textarea {
    background: #ffffff;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 12px;
    color: black; }

.contact--us button {
  padding: 12px;
  border-radius: 5px;
  color: white;
  background-color: #07ad68;
  font-size: 14px;
  line-height: 16px;
  border: none; }

.contact--us textarea {
  width: 100%; }

.whereuse {
  position: relative; }
  .whereuse .head {
    font-size: calc(20px + (40 - 20) * ((100vw - 768px) / (1600 - 768)));
    line-height: calc(25px + (49 - 25) * ((100vw - 768px) / (1600 - 768))); }
  .whereuse img {
    width: 100%; }
  .whereuse .icon {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.127076);
    width: 7%;
    padding: 1%;
    cursor: pointer; }
    .whereuse .icon img {
      width: 100%; }
  .whereuse .icon1 {
    position: absolute;
    top: 10%;
    left: 60%; }
  .whereuse .icon2 {
    position: absolute;
    top: 45%;
    left: 10%;
    padding: 1.8%; }
  .whereuse .icon3 {
    position: absolute;
    right: 8%;
    top: 70%;
    padding: 1.8% 1%; }
  .whereuse .icon4 {
    position: absolute;
    top: 70%;
    left: 30%; }
  .whereuse .icon5 {
    position: absolute;
    padding: 1.4% 1%;
    top: 35%;
    right: 5%; }
  .whereuse .icon6 {
    position: absolute;
    padding: 1.4%;
    top: 68%;
    left: -2%; }
  .whereuse .modalblock {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.081);
    opacity: 1;
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: #fff;
    min-width: 400px;
    width: 30%;
    height: 300px;
    display: none;
    transition: .5s all; }
    .whereuse .modalblock .modalimg1 {
      position: absolute;
      bottom: 0;
      left: 0; }
    .whereuse .modalblock--content {
      position: relative;
      position: relative;
      padding: 25px;
      clear: left; }
      .whereuse .modalblock--content .closebtn {
        position: absolute;
        color: #d5d2d2;
        top: -3%;
        font-size: 20px;
        right: 1%;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 50%; }
        .whereuse .modalblock--content .closebtn:hover {
          color: black; }
      .whereuse .modalblock--content .text {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto !important;
        right: 0;
        padding: 15px;
        padding-right: 25px; }
        .whereuse .modalblock--content .text a {
          color: white !important; }
        .whereuse .modalblock--content .text button {
          margin-left: auto; }
      .whereuse .modalblock--content img {
        position: absolute;
        float: left; }
    .whereuse .modalblock .triangle {
      position: absolute;
      width: 0;
      height: 0;
      bottom: 0;
      z-index: -1;
      border-style: solid;
      border-width: 150px 0 0 150px;
      border-color: transparent transparent transparent #121842; }
    .whereuse .modalblock img {
      width: 20%; }
      .whereuse .modalblock img:first-child {
        width: 10%; }
    .whereuse .modalblock h2 {
      font-family: AvenirNext;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      text-transform: uppercase; }
    .whereuse .modalblock p {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.048px;
      margin-bottom: 50px; }
    .whereuse .modalblock button {
      border: none;
      background-color: #07ad68;
      color: white;
      padding: 5px 15px;
      border-radius: 5px; }
  .whereuse .modalblock.nonactive {
    opacity: 0;
    visibility: hidden; }
  .whereuse #overlay {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    transition: 200ms ease-in-out;
    visibility: hidden; }
  .whereuse #overlay.active {
    opacity: 0.2;
    pointer-events: all; }

hr {
  margin-bottom: 0 !important; }

.neftgaz,
.vetrovaya,
.hydro,
.metallurgia,
.uran,
.solnechni,
.uranovaya {
  color: white;
  padding-top: 45px;
  padding-bottom: 55px; }

.neftgaz {
  background: linear-gradient(203.4deg, rgba(115, 65, 243, 0.776) -46.75%, rgba(131, 87, 241, 0.428) 79.39%), url(../img/neftgaz.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.vetrovaya {
  background: linear-gradient(203.4deg, rgba(56, 26, 131, 0.66) 46.75%, rgba(56, 26, 131, 0.449) 79.39%), url(../img/vetrovaya.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; }

.hydro {
  background: linear-gradient(203.4deg, rgba(56, 26, 131, 0.66) 46.75%, rgba(56, 26, 131, 0.449) 79.39%), url(../img/hydro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; }

.metallurgia {
  background: linear-gradient(203.4deg, rgba(56, 26, 131, 0.66) 46.75%, rgba(56, 26, 131, 0.449) 79.39%), url(../img/metalurgia.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; }

.uranovaya {
  background: linear-gradient(203.4deg, rgba(56, 26, 131, 0.66) 46.75%, rgba(56, 26, 131, 0.449) 79.39%), url(../img/uran.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; }

.solnechni {
  background: linear-gradient(203.4deg, rgba(56, 26, 131, 0.66) 46.75%, rgba(56, 26, 131, 0.449) 79.39%), url(../img/solnechni.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; }

.whereusing--text h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold; }

.whereusing--text p {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.056px; }

.whereusing--text ul {
  padding-left: 0px !important;
  font-family: AvenirNext;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.064px;
  font-weight: bold; }
  .whereusing--text ul li {
    margin-bottom: 30px; }
  .whereusing--text ul li:before {
    color: #4DBB91;
    content: '●';
    padding-right: 30px;
    font-size: 18px; }

.whereusing--action {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .whereusing--action button {
    color: white;
    outline: none !important;
    border: none;
    background-color: #07AD68;
    border-radius: 5px;
    padding: 15px; }
  .whereusing--action .solnceimg {
    padding-top: 25px !important; }
  .whereusing--action .hydroicon {
    padding-top: 30px !important; }
  .whereusing--action .icon {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    margin-left: auto; }
    .whereusing--action .icon img {
      width: 100%; }
      .whereusing--action .icon img .hydroimg {
        width: 50% !important;
        transform: translateY(20%); }

.compimg {
  width: 50% !important; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide img {
  width: 100%; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
