@import url("../fonts.css");
$nav-secondary:#ACB3FF;
$green-color: #4DBB91;

html {
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

}

h1,
h2,
h3,
h4,
h5 {
    font-family: no_name_37
}



body {
    font-family: Avenir Next;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
}

li {
    list-style: none;
}