.footer {
    position: relative;
    padding: 36px 0;
    font-size: 14px;
    line-height: 35px;
    border-bottom: 1px solid #DADADA;

    a {
        color: black !important
    }

    .socials {
        display: flex;
        justify-content: space-between;
    }

    .logo img {
        // transform: translateX(80%);
    }

    .footer-links2 {
        font-weight: bold;
    }

    .icons {
        display: flex;

        .icon {
            height: 36px;
            width: 36px;
            background-color: #F5F5F5;
            text-align: center;
            border-radius: 50%;
            margin-right: 5px;
        }

        a {
            color: #BBBBBB !important;
            text-align: center;


            i {
                font-size: 20px !important;
            }
        }
    }

    .footer-info {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
    }

    .certifs {
        margin-left: 20px;
        display: flex;
        // justify-content: space-between;
        align-items: center;

        .certif {
            display: flex;
            align-items: center;
            margin-right: 18px;

            img {
                margin-right: 5px;
            }
        }
    }

    .footer-sitemap {
        ul {
            display: flex;
            justify-content: space-between;
        }
    }

    &--others {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        line-height: 14px;

    }

}


.footer-info {
    display: flex;
    flex-direction: column;
}